@import '../Variables/Variable.scss';

.navbar-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $Grayish-blue;
    nav {
        width: 80%;
    }
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }
    nav a {
        color: $Dark-grayish-blue;
        font-size: 1.25rem;
        text-decoration: none;
        font-family: $KumbhSans-Medium;
    }
}

.cart-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 5rem;
    width: 20%;
    img:first-child {
        height: 30%;
        width: 10%;
        &:hover {
            cursor: pointer;
        }
    }
    img:last-child {
        width: 25%;
    }
    #cart-count {
        background-color: $Orange;
        color: $White;
        padding-left: 0.45rem;
        padding-right: 0.45rem;
        border-radius: 0.75rem;
        position: absolute;
        top: 1.25rem;
        left: 3.5rem;
        font-size: 0.8rem;
    }
}